<div class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    {{> header_admin}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <div class="mt-4">
                <h1>Đổi mật khẩu</h1>
                <div class="mt-4">
                  

                  <form action="/update_password?_method=PUT" method="POST" class="mt-4">
                    <div class="form-group">
                      <label for="password">Mật khẩu cũ</label>
                      <input type="password" class="form-control"  placeholder="Mật khẩu cũ"  name="password"
                        id="password">
                    </div>
                    <div class="form-group">
                      <label for="passwordnew">Mật khẩu mới</label>
                      <input type="password" class="form-control"  placeholder="Mật khẩu mới"  name="passwordnew"
                        id="passwordnew">
                    </div>
                    
                    
                    <button type="submit" class="btn btn-primary" >Đổi mật khẩu</button>
                  </form>
                </div>
              </div>
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->

      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    {{> footer_admin}}


  </div>
  <!-- ./wrapper -->


</div>