{{!-- <div class="banner">
    <div id="demo1" class="carousel1 slide1" data-ride="carousel1">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo1" data-slide-to="0" class="active"></li>
            <li data-target="#demo1" data-slide-to="1"></li>
            <li data-target="#demo1" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href=""><img src="img/banner.jpg" alt="Los Angeles" class="imgbanner"></a>
            </div>
            <div class="carousel-item">
                <a href=""><img src="img/banner1.jpg" alt="Los Angeles" class="imgbanner"></a>
            </div>
            <div class="carousel-item">
                <a href=""><img src="img/logoviettel.png" alt="Los Angeles" class="imgbanner"></a>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo1" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo1" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

</div> --}}
<div class="banner">
    <div class="container banner-center ">
        <div class="row ">
            <div class="col-md-11  ">
                <div id="custCarousel-banner" class="carousel " data-ride="carousel" align="center">
                    <!-- slides -->
                    <div id="carousel-inner-banner">
                        <div class="carousel-item active carousel-inner-banner-height"> <img src="img/banner.jpg" alt="Hills">
                        </div>
                        <div class="carousel-item carousel-inner-banner-height"> <img src="img/banner4.jpg" alt="Hills"> </div>
                        <div class="carousel-item carousel-inner-banner-height"> <img src="img/banner2.jpg" alt="Hills"> </div>
                        {{!-- <div class="carousel-item carousel-inner-banner-height"> <img src="img/banner3.jpg" alt="Hills"> </div> --}}
                    </div> <!-- Left right --> <a class="carousel-control-prev banner-prev" href="#custCarousel-banner" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next"
                        href="#custCarousel-banner" data-slide="next"> <span class="carousel-control-next-icon"></span> </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>