
<!-- Footer -->
<footer class=" text-center text-white " style="background-color: #f0f0f0;">
  <!-- Grid container -->
  <div class="container p-4 footer-color">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f "></i
      ></a>
      {{!-- <img src="img/facebook.png" alt="" class="footer-icon"> --}}

      <!-- Twitter -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      {{!-- <img src="img/twitter.png" alt="" class="footer-icon"> --}}
      <!-- Google -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>
      {{!-- <img src="img/google.png" alt="" class="footer-icon"> --}}
      <!-- Instagram -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      {{!-- <img src="img/intagram.jpg" alt="" class="footer-icon"> --}}
      {{!-- <!-- Linkedin -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a> --}}
    </section>
    <!-- Section: Social media -->

    {{!-- <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-dark mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section> --}}
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        TẬP ĐOÀN VIỄN THÔNG QUÂN ĐỘI-CHI NHÁNH VIETTEL CẦN THƠ.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a class="text-uppercase" href="/"><img src="img/logovt_edit.png" alt="VIETTEL" class="img-boder-radius"></a>
          

          {{!-- <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul> --}}
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 " >
          <h5 class="text-uppercase">Internet Cáp Quang - FTTH</h5>

          <ul class="list-unstyled mb-0 ">
            <li>
              <a href="internet" class="text-dark "> Doanh Nghiệp</a>
            </li>
            <li>
              <a href="internet_giadinh" class="text-dark">Gia Đình</a>
            </li>
            <li>
              <a href="internet_combo" class="text-dark">Combo Internet Cáp Quang - FTTH</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        {{!-- <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Truyền hình</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column--> --}}

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Dịch vụ di động</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Gói cước data</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Mua sim số</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Gói cước chính</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Dịch vụ quốc tế</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Chuyển sang trả sau</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Ứng dụng số</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">My Viettel</a>
            </li>
            <li>
              <a href="#!" class="text-dark">5Dmax</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Onme</a>
            </li>
            <li>
              <a href="#!" class="text-dark">MyClip</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Chuyển sang trả sau</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p style="color: #252525;">Địa chỉ:   210 Trần Phú, Cái Khế, Ninh Kiều, Cần Thơ </p>
    {{#each phones}}
    <p style="color: #EE0033;" id="phone_footer">{{this.sdt}}</p>
    {{/each }}
    <p style="color: #252525;">Các Tỉnh, Quận Huyện, Có Nhu Cầu Đặt Số Vui lòng Liên Hệ HOTLINE</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<script>
    function formatPhoneNumber3(phoneNumberString) {
        var cleaned = ('' + phoneNumberString).replace(/\D/g, '')
        var match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
        if (match) {
            return 'HOTLINE: ' + match[1] + ' ' + match[2] + ' ' + match[3]
        }
        return null
    }
    
    var phone_footer = document.getElementById('phone_footer').innerText;
    document.getElementById('phone_footer').innerText = formatPhoneNumber3(phone_footer);
    
</script>