<script>
  sessionStorage.setItem('token', '{{token}}');
  var temp = sessionStorage.getItem('token');
  function handleLogout(){
    sessionStorage.clear();
  }
</script>
<div class="container bg-admin">

  <div class="row">
    <div class="col-sm-9  ad1">
      <h1>TRANG QUẢN TRỊ</h1>
    </div>
    <div class="col-sm-3 ">
      {{#if token}}
      <h4 style="margin-top:5%;">XIN CHÀO ADMIN!</h4>
      

      {{/if }}
      <a href="/login" onclick="handleLogout()"><input type="submit" value="Đăng xuất" style="background-color: #EE0033;"></a>
      <a href="/password_admin" target="ifarm_admin"><input type="submit" value="Đổi mật khẩu" style="background-color: #EE0033;"></a>
    </div>
  </div>
<br><hr>
  <div class="row">
    <div class="col-sm-2 bg-right bg-dark">
      <h3 style="text-align:center;">MENU</h3>
      <ul class="ad2">
       
        <li class="nav-item"><a href="/danhsach_dk" target="ifarm_admin" class="nav-link">Danh sách đăng ký</a></li><br>
        <li class="nav-item"><a href="/goicuocdoanhnghiep" target="ifarm_admin" class="nav-link">Gói cước doanh nghiệp</a></li><br>
        <li class="nav-item"><a href="/goicuocgiadinh" target="ifarm_admin" class="nav-link">Gói cước gia đình</a></li><br>
        <li class="nav-item"><a href="/combo" target="ifarm_admin" class="nav-link">COMBO gói cước</a></li><br>
        <li class="nav-item"><a href="/promotion" target="ifarm_admin" class="nav-link">Khuyến mãi</a></li>
        <li class="nav-item"><a href="/phone" target="ifarm_admin" class="nav-link">Chỉnh sửa Số điện thoại</a></li>
      </ul>
    </div>
    <div class="col-sm-10 bg-left">
      <iframe src="/danhsach_dk" frameborder="0" name="ifarm_admin" class="ad3 "></iframe>
    </div>
  </div>
</div>